= form_for(@service, :html => { class: "form-horizontal" }) do |f|
  - if @service.errors.any?
    #errorExplanation
      %h2
        = pluralize(@service.errors.count, "error")
        prohibited this service from being saved:
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, class: "col-md-2"
    .col-md-10
      = f.text_field :name, class: "form-control"
  .form-group
    = f.label :public, "Advertise publicly?", class: "col-md-2"
    .col-md-10
      = f.check_box :public
  .form-group
    = f.label :urls_delimited, class: "col-md-2"
    .col-md-10
      = f.text_area :urls_delimited, class: "form-control"
  .form-group
    = f.label :logo_url, class: "col-md-2"
    .col-md-10
      = f.text_field :logo_url, class: "form-control"
  .form-group
    = f.label :description, class: "col-md-2"
    .col-md-10
      = f.text_area :description, class: "form-control"
  .form-group
    = f.label :authentication_token, "Illyan API key", class: "col-md-2"
    .col-md-10
      = f.text_field :authentication_token, class: "form-control"
  .form-group
    .col-md-2
    .col-md-10
      = f.submit class: "btn btn-primary btn-lg"
