<h1>Listing services</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Logo</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.name %></td>
    <td><%= service.url %></td>
    <td><%= image_tag service.logo_url unless service.logo_url.blank? %></td>
    <td><%= truncate service.description %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_service_path %>
