<%= error_messages_for :person %>

<%= form_for @person, :url => profile_path do |f| -%>
  <h2>Change your password</h2>
  
  <%= f.label :password, "New password" %>
  <%= f.password_field :password %>
    
  <%= f.label :password_confirmation, "Again to confirm" %>
  <%= f.password_field :password_confirmation %>
  
  <%= f.submit "Change password" %>
<% end -%>