.navbar-header
  = link_to root_path, class: "navbar-brand", style: "max-width: 75%;" do
    - if ENV['ILLYAN_SITE_LOGO']
      = image_tag(ENV['ILLYAN_SITE_LOGO'], :alt => ENV['ILLYAN_SITE_TITLE'], :class => "img-responsive")
    - else
      = ENV['ILLYAN_SITE_TITLE']

  %button{type: "button", class: "btn btn-default navbar-toggle", data: {toggle: "collapse", target: "#main-nav"}}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
    
%div#main-nav.collapse.navbar-collapse
  %ul.nav.navbar-nav.pull-right
    - if person_signed_in?
      %li{class: params[:controller] == "profiles" ? "active" : ""}= link_to "My #{profile_name}", profile_path
      - if can? :list, Person
        %li{class: params[:controller] == "admin/people" ? "active" : ""}= link_to "People", admin_people_path
      - if can? :list, Service
        %li{class: params[:controller] == "services" ? "active" : ""}= link_to "Services", services_path
      %li= link_to "Log out", destroy_person_session_path
    - else
      %li= link_to "Log in", new_person_session_path