<h1>Welcome to <%= Illyan::Application.site_title %></h1>

<% if @services.size == 0 -%>
  <p>Coming soon, <%= Illyan::Application.site_title %> will provide a single login for all our sites.  Stay tuned!</p>
<% else -%>
  <p>One login for all these sites:</p>

  <div class="row">
    <% @services.each do |service| -%>
      <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= link_to service.url do %>
                <% if !service.logo_url.blank? -%>
                  <%= image_tag service.logo_url, :alt => service.name %>
                <% else -%>
                  <%= service.name %>
                <% end -%>
              <% end -%>
            </h3>
          </div>
          <div class="panel-body">
            <% if !service.description.blank? -%>
              <p><%= simple_format service.description %></p>
            <% end -%>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
<% end -%>