<h2>Sign up</h2>

<%= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| -%>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <h2>Personal Information</h2>

  <dl>
    <%= render :partial => "people/personal_info", :locals => {:f => f} %>
  </dl>
  
  <p><%= f.submit "Sign up" %></p>
<% end -%>

<%= render :partial => "devise/shared/links" %>