<%= form_for(resource, :as => resource_name, :url => session_path(resource_name) ) do |f| -%>
  <h2><%= login_headline_with_account %></h2>
  
  <%= f.label :email, "Email address", :class => "block" %>
  <%= f.text_field :email, :tabindex => 1 %>

  <%= f.label "password" %>
  <%= f.password_field "password", :tabindex => 2 %>

  <% if devise_mapping.rememberable? -%>
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me, :tabindex => 3 %> 
  <% end -%>
  
  <%= f.submit login_headline, :tabindex => 4 %>

<% end -%>

<%= render :partial => "devise/shared/links" %>
