<%= form_for(resource, :as => resource_name, :url => session_path(resource_name) ) do |f| -%>
  <h2><%= login_headline_with_account %></h2>
  
  <%= f.label :email, "Email address", :class => "block" %>
  <%= f.text_field :email, :tabindex => 1 %>

  <%= f.label "password" %>
  <%= f.password_field "password", :tabindex => 2 %>

  <% if devise_mapping.rememberable? -%>
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %> 
  <% end -%>
  
  <%= f.submit login_headline %>

<% end -%>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name) ) do |f| -%>
  <h2><%= login_headline("with OpenID") %></h2>
  
  <%= f.label :identity_url, "OpenID URL", :class => "block" %>
  <%= f.text_field :identity_url %>

  <%= submit_tag "Log in with OpenID" %>
  
<% end -%>

<%= render :partial => "devise/shared/links" %>
