<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title"><%= login_headline_with_account %></h2>
  </div>
  
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"} ) do |f| -%>
      <% if Illyan::Application.extra_login_page_html.present? -%>
        <%=raw Illyan::Application.extra_login_page_html %>
      <% end -%>
  
      <div class="form-group">
        <%= f.label :email, "Email address", :class => "col-md-2" %>
        <div class="col-md-10">
          <%= f.email_field :email, :tabindex => 1, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "password", :class => "col-md-2" %>
        <div class="col-md-10">
          <%= f.password_field "password", :tabindex => 2, :class => "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.label :remember_me, :class => "col-md-2" %>
          <div class="col-md-10">
            <%= f.check_box :remember_me, :tabindex => 3 %> 
          </div>
        </div>
      <% end -%>
  
      <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10"><%= f.submit login_headline, :tabindex => 4, :class => "btn btn-primary btn-lg" %></div>
      </div>
    <% end -%>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>