<%= f.label :confirmed_at_ymdhms, "Confirmed at" %>
<%= f.text_field :confirmed_at_ymdhms %>
<button data-set-current-time="<%= f.object_name + "[confirmed_at_ymdhms]" %>">Confirm now</button>

<%= f.label :admin, "Administrator?" %>
<span class="input">
  <%= f.radio_button :admin, "" %> <%= f.label :admin, "Unprivileged", :value => "" %>
  &nbsp;&nbsp;&nbsp;
  <%= f.radio_button :admin, true %> <%= f.label :admin, "Administrator", :value => true %>
</span>
