<%= error_messages_for :person %>

<%= form_for [:admin, @person] do |f| -%>
  <h2>Change <%= @person.name %>'s password</h2>
  
  <%= f.label :password, "New password" %>
  <%= f.password_field :password %>
    
  <%= f.label :password_confirmation, "Again to confirm" %>
  <%= f.password_field :password_confirmation %>
  
  <%= f.submit "Change password" %>
<% end -%>