<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="panel-title">People</h3>
      </div>
      <div class="col-sm-6">
        <div class="pull-right">
          <%= form_tag admin_people_path, method: 'get', class: "form-inline" do %>
            <div class="form-group">
              <%= text_field_tag :q, params[:q], class: "form-control input-sm" %>
            </div>
            <%= submit_tag "Search", class: "btn btn-default btn-sm" %>
            <% if params[:q].present? -%>
              <%= link_to "Clear search", admin_people_path, class: "btn btn-link" %>
            <% end -%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-condensed table-responsive">
      <thead>
    	  <tr>
    		  <th>Name</th>
    		  <th>Email</th>
    	  </tr>
    	</thead>
    	<tbody>
      	<% @people.each do |person| -%>
      		<tr>
      			<td><%= link_to person.inverted_name, admin_person_path(person) %></td>
      			<td><%= person.email %></td>
      		</tr>
      	<% end -%>
      </tbody>
    </table>

    <%= will_paginate @people, renderer: BootstrapPagination::Rails %>

    <p><%= link_to "Create new person", new_admin_person_path, class: "btn btn-primary" %></p>
  </div>
</div>

