<h2>Account Info</h2>
  <table>
  	<tr>
  		<th style="text-align: right;">
		  <label for="email" class="required">Email address:</label>
  		</th>
		<td>
		  <%= text_field_tag "email", params[:email] %>	
		</td>
  	</tr>
	<tr>
		<th style="text-align: right;">
		  <label for="password1" class="required">Password:</label>
		</th>		
		<td>
		  <%= password_field_tag "password1", params[:password1] %>
		</td>
	</tr>
	<tr>
		<th style="text-align: right;">
		  <label for="password2" class="required">Re-enter password:</label>
		</th>
		<td>
		  <%= password_field_tag "password2", params[:password2] %>
		</td>
	</tr>
  </table>

  <%= render :partial => "account/personal_info", :locals => {:f => f} %>
  
  <% if @app_profile -%>
      <% form_for("app_profile", @app_profile) do |profile_form| %>
          <%= render :partial => "account/#{@app_profile.class.name.tableize.singularize}", 
				:locals => {:f => profile_form}%>
          <p><%= submit_tag "Complete registration" %></p>
      <% end %>
  <% else -%>
      <p><%= submit_tag "Complete registration" %></p>
  <% end -%>