<p>Hello <%= @resource.email %>!</p>

<% if @resource.services.size == 1 -%>
  <p>You've just signed up for <%= link_to @resource.services.first.name, @resource.services.first.url %>!  This site uses
    <%= link_to Illyan::Application.site_title, root_url %> for user account management.  You'll be able to use your
    <%= Illyan::Application.account_name || "profile" %> to log in, but first, you need to confirm your email address.</p>
    
  <p>To confirm that this is your email address, please follow the link below.</p>
<% else -%>
  <p>You've just signed up for an account at <%= link_to Illyan::Application.site_title, root_url %>!  To confirm that this is your email
    address, please follow the link below.</p>
<% end -%>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>If you believe you've received this message in error, please ignore this email.<br />
It won't be possible to log into your account until you click the link above.</p>