%p
  Hello #{@resource.email}!
- if @resource.services.size == 1
  %p
    You've just signed up for #{link_to @resource.services.first.name, @resource.services.first.urls.first}!  This site uses
    \#{link_to ENV['ILLYAN_SITE_TITLE'], root_url} for user account management.  You'll be able to use your
    \#{ENV['ILLYAN_ACCOUNT_NAME'] || "profile"} to log in, but first, you need to confirm your email address.
  %p To confirm that this is your email address, please follow the link below.
- else
  %p
    You've just signed up for an account at #{link_to ENV['ILLYAN_SITE_TITLE'], root_url}!  To confirm that this is your email
    address, please follow the link below.
%p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token)
%p
  If you believe you've received this message in error, please ignore this email.
  %br/
  It won't be possible to log into your account until you click the link above.
