<!DOCTYPE html>
<html>
<head>
  <title>Illyan</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="auth_options">
    <% if current_person -%>
      <%= link_to current_person.name, edit_person_path(current_person) %>
      |
      <%= link_to "Log out", destroy_person_session_path %>
    <% else -%>
      <%= link_to "Log in", new_person_session_path %>
    <% end -%>
  </div>

<%= yield %>

</body>
</html>
