<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= theme_stylesheet_link_tag %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">  
  	<% if flash[:notice] %>
  	  <div class="notice">
  	    <%= flash[:notice] %>
  	  </div>
  	<% end %>

  	<% if flash[:alert] %>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= render :partial => "shared/nav_bar" %>
  </nav>

  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
